#!/usr/bin/make -f

%:
	dh $@ --with autoreconf

get-orig-source:
	uscan --verbose --force-download --no-symlink
	@if test -e ../wmbiff-*.download ; then \
		rename -fv "s/wmbiff-(.+)\.download/wmbiff_\1\.orig\.tar\.gz/" \
			../wmbiff-*.download; \
	fi
